<p>Castle can be deployed on the edge with AWS Cloudfront and Lambda@Edge.</p>

<p>To test this out, click the "register" button to initiate a registration attempt with a random user.</p>

<p>The registration request will go to Cloudfront, and be handled by a Lambda function with Castle embedded. You'll see what the "verdict" and risk score that Castle (via Cloudfront) returns.</p>

<p>For more details on how this works, or to set up Castle with your own Cloudfront distribution, please see the <a href = "https://github.com/castle/castle-aws-cloudfront-sample" target = "_blank">github repo</a>.</p>